<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kakao toy project</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="{% static 'js/csrf.js' %}"></script>
    <style>
      .map_wrap {
        width: 100%;
        position: relative;
      }
      .modes {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
      }
      #drawingMap,
      #map {
        height: 95vh;
      }
      #map {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="row overflow-auto" style="height: 90vh">
                <div id="map-list" class="col-12"></div>
              </div>
              <div id="map-list-pagination" class="row"></div>
            </div>
            <div class="col-9">
              <div class="map_wrap">
                <div id="drawingMap"></div>
                <p class="modes">
                  <button type="button" class="btn btn-primary btn-sm" onclick="selectOverlay('POLYLINE')">선</button>
                  <button type="button" class="btn btn-primary btn-sm" onclick="selectOverlay('POLYGON')">다각형</button>
                  <button id="storage" type="button" class="btn btn-primary btn-sm" onclick="dataStorage()" value="create" disabled>저장하기</button>
                  <input type="text" class="form-control" id="map-name" disabled />
                </p>
              </div>
            </div>
          </div>
          <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=05cdfbd2737d57318b066e52046677ec&libraries=services,clusterer,drawing"
          ></script>
          <script type="text/javascript" src="{% static 'js/kakaomap.js' %}"></script>
        </div>
      </div>
    </div>
  </body>
</html>
